html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.verde-noia {
    background-color: #ADDCB2;
}

.beige-insipido {
    background-color: #FFF9D8;
}